/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
 	background-color: #e6f7ff;
 	width: 100%;
 	height: 22VH;
 	margin: 0px;
 	padding: 60px 70px 15px;
 	top: 0;
 	position: fixed;
 	border-bottom: 1px solid rgba(181, 186, 183, 0.8);
 }

 body {
 	margin: 0px;
 }

/*all form inputs*/
body input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #737373;
	/*color: #0C1385;*/
	font-size: 20px;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	display: block;
	margin: auto;
}
/*end of form inputs*/

 /*all buttons*/
 body button, body input[type=submit] {
	background-color: rgba(230, 247, 255, 0.5);
	border: 1px solid #a6a6a6;
	border-radius: 50px;
	padding: 10px;
	color: #737373;
	font-size: 16px;
	margin: auto;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	transition-duration: 0.5s;
}

body button:hover, body input[type=submit]:hover {
	color: #0C1385;
	font-size: 18px;
	background-color: rgba(230, 247, 255, 0.9);
}
/*end of buttons*/

/*all timestamps*/
.time_created {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
/*end of timestamps*/

#yieldDiv {
	height: 72vh;
	overflow-y: scroll;
	margin-top: 22vh;
}

#logoDiv {
	text-align: left;
}

 #logo {
 	padding-left: 0px;
 	margin-bottom: 20px;
 	margin-top: 0px;
 }

 #logo a:link, #logo a:visited {
 	font-size: 50px;
 	text-decoration: none;
 	padding: 20px;
 	background-color: white;
 	border: 1px solid white;
 	border-radius: 50px;
 	box-shadow: 8px 8px 5px;
 	height: 102px;
 	width: 332px;
 }

 #logo a:hover {
 	font-size: 48px;
 	color: #8c8c8c;
 	box-shadow: 2px 2px 2px 2px;
 }

 #logo .font-effect-emboss {
 	font-family: 'Raleway', sans-serif;
 	color: #0C1385;
 }

 #logo .spaceFont {
 	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
 	color: #60c9d4;
 }

 #userName {
 	font-family: 'Raleway', sans-serif;
 	font-size: 30px;
 	text-align: right;
 	color:#0C1385;
 }

 #pleaseSignin {
 	font-size: 20px;
 	color: #0C1385;
 	font-family: 'Raleway', sans-serif;
 	background-color: rgba(255, 255, 255, 0.8);
 	border: 1px solid rgba(255, 255, 255, 0.8);
 	border-radius: 30px;
 	padding: 7px;
 }

 .container #navbar {
 	text-align: center;
 	list-style-type: none;
 }

 #navbar li {
 	display: inline-block;
 	padding-left: 30px;
 	padding-right: 30px;
 }

 #navbar li a:link, #navbar li a:visited {
 	font-size: 18px;
 	text-decoration: none;
 	color: #0C1385;
 }

 #navbar li a:hover {
 	text-decoration: underline;
 	background-color: rgba(255, 255, 255, 0.8);
 	border: 1px solid rgba(255, 255, 255, 0.8);
 	border-radius: 30px;
 	color: #0C1385;
 	padding: 5px;
 }

#myCarousel {
	height: 72vh;
}

 #myCarousel .carousel-inner {
 	width: 80%;
 	height: 100%;
 	margin: 0 auto;
 }

 #myCarousel .item {
 	width: 80%;
 	height: 100%;
 	margin: 0 auto;
 }

 .item img {
 	max-height: 100%;

 }

#postThumbs .thumbnail {
    background-size: cover;
    height: 240px;
    width: 240px;
    display: inline-block;
}

/*in footer:*/
footer .container {
	width: 100%;
	height: 6VH;
	bottom: 0;
	position: fixed;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	border-top: 1px solid rgba(181, 186, 183, 0.8);
	background-color: rgba(230, 247, 255, 0.9);
}

#copywrite p {
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 20px;
	color: rgba(012, 019, 133, 0.7);
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}
/*end of footer