#loginDiv {
	margin: auto;
	display: block;
	text-align: center;
	margin-top: 100px;

	h1 {
		font-family: 'Kite One', sans-serif;
		font-size: 40px;
		color: rgba(012, 019, 133, 0.7);
		margin-bottom: 40px;
	}
	
	input {
		margin: auto;
	}
}